# _md5hash=17df54faac3cd136e4f901c25c8a33ab
# _version=4
# Dataplaneapi managed File
# changing file directly can cause a conflict if dataplaneapi is running

global
  daemon
  external-check
  nbthread 4
  maxconn 256
  stats socket /var/run/haproxy.sock mode 660 level admin
  # stats socket "$GRESTTOP"/sockets/haproxy.socket mode 0600 level admin user "$HAPROXY_SOCKET_USER"
  log stdout format raw local0
  insecure-fork-wanted
  ulimit-n 65536

defaults unnamed_defaults_1
  mode http
  log global
  # uncomment for logs with IPs:
  log-format "%ci:%cp a:%f/%b/%s t:%Tq/%Tt %{+Q}r %ST b:%B C:%ac,%fc,%bc,%sc Q:%sq/%bq"
  option dontlognull
  option http-server-close
  option forwardfor
  option http-ignore-probes
  timeout http-request 15s
  timeout connect 3s
  # uncomment logs without IPs:
  # log-format "a:%f/%b/%s t:%Tq/%Tt %{+Q}r %ST b:%B C:%ac,%fc,%bc,%sc Q:%sq/%bq"
  # uncomment to disable most of the logs, and leave basics for troubleshooting:
  # option dontlog-normal
  timeout client 30s
  timeout queue 30s
  timeout server 30s
  timeout server-fin 2s
  # timeout http-request 5s  
  # For Unimatrix (GunDB) and other web sockets:
  timeout tunnel 3600s
  timeout http-keep-alive 1s
  timeout tarpit 60s

userlist haproxy-dataplaneapi
  user admin insecure-password adminpwd

frontend app from unnamed_defaults_1
  # for non SSL encription termination
  bind 0.0.0.0:8053
  acl is_wss hdr(Upgrade) -i websocket
  # Next line was truncating large JSON responses from outside LAN (firefox) and causing ERR_HTTP2_PROTOCOL_ERROR (chrome)
  # compression type-res application/json
  option http-buffer-request
  compression algo-res gzip
  # uncomment to log requests:
  http-request set-log-level info if TRUE
  http-request use-service prometheus-exporter if { path /metrics }
  http-request deny deny_status 429 if { sc_http_req_rate(0) gt 500 }
  # # If using SSL, comment line above and uncomment line below
  # bind 0.0.0.0:8053 ssl crt /etc/ssl/server.pem no-sslv3
  # BEGIN CORS (comment block to disable)
  http-response set-header Access-Control-Allow-Origin "*"
  http-response set-header Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept, Authorization, JSNLog-RequestId, activityId, applicationId, applicationUserId, channelId, senderId, sessionId, prefer"
  http-response set-header Access-Control-Max-Age 3628800
  http-response set-header Access-Control-Allow-Methods "GET, DELETE, OPTIONS, POST, PUT"
  # END CORS
  compression direction response

frontend app2
  mode http
  maxconn 2000

frontend app3
  mode http
  maxconn 2000

frontend myfrontend
  mode http
  maxconn 2000

program api
  command /usr/local/bin/dataplaneapi --host 0.0.0.0 --port 5555 --haproxy-bin /usr/sbin/haproxy --config-file /usr/local/etc/haproxy/haproxy.cfg --reload-cmd "kill -SIGUSR2 1" --restart-cmd "kill -SIGUSR2 1" --reload-delay 5 --userlist haproxy-dataplaneapi
  no option start-on-reload
