annotated-types==0.7.0
aria2p==0.12.1
certifi==2025.11.12
charset-normalizer==3.4.4
dotenv==0.9.9
idna==3.11
loguru==0.7.3
platformdirs==4.5.1
podman==5.6.0
pydantic==2.12.5
pydantic_core==2.41.5
python-dotenv==1.2.1
python-on-whales==0.79.0
PyYAML==6.0.3
requests==2.32.5
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.1
urwid==3.0.3
wcwidth==0.2.14
websocket-client==1.9.0
