global
  daemon
  nbthread "$HAPROXY_WORKER_THREADS"
  maxconn "$HAPROXY_MAX_CONNECTIONS"
  # Harden TLS policy
  ssl-default-bind-options ssl-min-ver TLSv1.2
  ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
  ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
  ulimit-n 65536
  #stats socket "$GRESTTOP"/sockets/haproxy.socket mode 0600 level admin user "$HAPROXY_SOCKET_USER"
  log stdout format raw local0
  insecure-fork-wanted
  external-check preserve-env

defaults
  mode http
  log global
  option dontlognull
  option http-ignore-probes
  option http-server-close
  option forwardfor
  # uncomment for logs with IPs:
  log-format "%ci:%cp a:%f/%b/%s t:%Tq/%Tt %{+Q}r %ST b:%B C:%ac,%fc,%bc,%sc Q:%sq/%bq"
  timeout connect 3s
  timeout server-fin 2s
  timeout queue            30s
  timeout tarpit           60s
  timeout client           300s
  timeout server           300s
  timeout tunnel           3600s
  timeout http-keep-alive  120s
  timeout http-request     30s

frontend app
  # for non SSL encription termination uncomment:
  #bind 0.0.0.0:8053
  ## otherwise, if using SSL, comment line above and uncomment line below:
  bind 0.0.0.0:8053 ssl crt /etc/ssl/server.pem
  # Manual IP blacklisting
  tcp-request connection reject if { src -n -f "$HAPROXY_IP_BLACKLIST" }

  # BEGIN CORS
  # Global CORS policy controlled ONLY by $HAPROXY_ORIGIN_WHITELIST contents
  # File modes:
  #   allow all:   .* *
  #   whitelist:   ^https://example\.com$ echo
  http-request set-var(txn.req_origin) req.hdr(Origin)

  acl cors_allow_any var(txn.req_origin),map_reg("$HAPROXY_ORIGIN_WHITELIST") -m str *
  acl cors_origin_ok var(txn.req_origin),map_reg("$HAPROXY_ORIGIN_WHITELIST") -m str echo

  http-after-response del-header Access-Control-Allow-Origin
  http-after-response del-header Access-Control-Allow-Headers
  http-after-response del-header Access-Control-Allow-Max-Age
  http-after-response del-header Access-Control-Allow-Methods

  http-after-response set-header Access-Control-Allow-Origin "*" if cors_allow_any
  http-after-response set-header Access-Control-Allow-Origin "%[var(txn.req_origin)]" if cors_origin_ok
  http-after-response set-header Vary "Origin" if cors_origin_ok

  http-after-response set-header Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept, Authorization, JSNLog-RequestId, activityId, applicationId, applicationUserId, channelId, senderId, sessionId, prefer" if cors_allow_any || cors_origin_ok
  http-after-response set-header Access-Control-Max-Age 3628800 if cors_allow_any || cors_origin_ok
  http-after-response set-header Access-Control-Allow-Methods "GET, DELETE, OPTIONS, POST, PUT" if cors_allow_any || cors_origin_ok
  # END CORS

  compression direction response
  compression algo-res gzip
  #Next line was truncating large JSON responses from outside LAN (firefox) and causing ERR_HTTP2_PROTOCOL_ERROR (chrome)
  #compression type-res application/json
  option http-buffer-request
  http-request set-log-level info if TRUE
  acl srv_down nbsrv(ogmios) eq 0
  acl is_wss hdr(Upgrade) -i websocket
  http-request use-service prometheus-exporter if { path /metrics }
  http-request track-sc0 src table flood_lmt_rate
  acl is_backup path_beg /backups
  http-request deny deny_status 429 if { sc_http_req_rate(0) gt 1000 } !is_backup
  use_backend stats if { path_beg /stats }
  use_backend cardano_graphql if { path_beg /cardano-graphql-mk2 }
  use_backend dandelion_postgrest if { path_beg /postgrest }
#   use_backend cardano_token_registry if { path_beg /cardano-token-registry }
  use_backend unimatrix if { path_beg /unimatrix }
  use_backend ogmios if { path_beg /ogmios } || { path_beg /dashboard.js } || { path_beg /assets } || { path_beg /health } || is_wss
  use_backend koios_ogmios if { path_beg /koios/api/v1/ogmios } || { path_beg /dashboard.js } || { path_beg /assets } || { path_beg /health } || is_wss
  use_backend koios_artifacts_postgrest if { path_beg /koios }  
  use_backend cardano_submit_api if { path_beg /cardano-submit-api }  
  use_backend blockfrost_submit_api if { path_beg /blockfrost/api/v0/tx/submit }  
  use_backend blockfrost_ogmios if { path_beg /blockfrost/api/v0/utils/txs/evaluate }  
  use_backend blockfrost if { path_beg /blockfrost/api/v0 }  
  use_backend backups if { path_beg /backups }  
  use_backend manifest if { path_beg /manifest }  
  default_backend home


backend home
  http-request return status 200 content-type "text/html" file "/usr/local/etc/www/index.html" hdr "cache-control" "no-cache"

backend manifest
  http-request return status 200 content-type "application/json" file "/usr/local/etc/www/manifest.json" hdr "cache-control" "no-cache"

backend koios_artifacts_postgrest
  balance first
  http-request set-path "%[path,regsub(^/koios/api/v1/,/rpc/)]"
  server local postgrest:8050 check inter 40000 fall 1 rise 2

backend koios_ogmios
   balance first
   http-request set-path "%[path,regsub(^/koios/api/v1/ogmios,/)]"
   option httpchk GET /health
   http-check expect rstatus (200|202)
   default-server inter 40s fall 1 rise 2
   server local cardano-ogmios:1337 check

backend ogmios
   balance first
   http-request set-path "%[path,regsub(^/ogmios/,/)]"
   option httpchk GET /health
   http-check expect rstatus (200|202)
   default-server inter 40s fall 1 rise 2
   server local cardano-ogmios:1337 check

backend unimatrix
   balance leastconn
   http-request set-path "%[path,regsub(^/unimatrix/,/)]"
   option httpchk GET /health
   http-check expect status 200
   default-server inter 40s fall 1 rise 2
   server local unimatrix:8765 maxconn 10000 weight 10 cookie local check   

backend cardano_graphql
   balance first
   http-request set-path "%[path,regsub(^/cardano-graphql-mk2/,/)]"
   option httpchk GET /health
   http-check expect status 200
   default-server inter 40s fall 1 rise 2
   server local cardano-graphql:4000 check

# backend cardano_token_registry
#    balance first
#    http-request set-path "%[path,regsub(^/cardano-token-registry/,/)]"
#    option httpchk GET /health
#    http-check expect status 200
#    default-server inter 40s fall 1 rise 2
#    server local cardano-token-registry:8080 check

backend dandelion_postgrest
   balance first
   http-request set-path "%[path,regsub(^/postgrest/,/)]"
   option httpchk GET /
   http-check expect status 200
   default-server inter 40s fall 1 rise 2   
   server local dandelion-postgrest:8060 check

backend cardano_submit_api
   balance first
   http-request set-path "%[path,regsub(^/cardano-submit-api/,/)]"
   option httpchk POST /api/submit/tx
   http-check expect status 415
   default-server inter 40s fall 1 rise 2   
   server local cardano-submit-api:8090 check

backend blockfrost_submit_api
   balance first
   http-request set-path "%[path,regsub(^/blockfrost/api/v0/tx/submit,/api/submit/tx)]"
   option httpchk POST /api/submit/tx
   http-check expect status 415
   default-server inter 40s fall 1 rise 2   
   server local cardano-submit-api:8090 check

backend blockfrost_ogmios
   balance first
   http-request set-path "%[path,regsub(^/blockfrost/api/v0/utils/txs/evaluate,/)]"
   option httpchk GET /health
   http-check expect rstatus (200|202)
   default-server inter 40s fall 1 rise 2
   server local cardano-ogmios:1337 check

backend blockfrost
   balance first
   http-request set-path "%[path,regsub(^/blockfrost/api/v0/,/)]"
   option httpchk GET /health
   http-check expect status 200
   default-server inter 40s fall 1 rise 2   
   server local blockfrost:8055 check

backend backups
    balance first
    # Preserve the /backups/ path without modification
    http-request set-path "%[path,regsub(^/backups/,/backups/)]" 
    # healthcheck
    option httpchk GET /backups/
    http-check expect status 401
    default-server inter 40s fall 1 rise 2
    # Ensure range requests are passed correctly
    http-request set-header Accept-Encoding identity if { path_beg /backups/ }
    # Explicitly allow Range if you’ve customized headers elsewhere
    http-response add-header Accept-Ranges bytes
    #fully disable compression to avoid altering ranges, leveraging on already-compressed files
    http-response del-header Content-Encoding
    http-response del-header Transfer-Encoding
    http-response del-header Content-Length
    # listen on
    server local nginx:8800 check

backend flood_lmt_rate
  stick-table type ip size 1m expire 10m store http_req_rate(10s)

backend stats
    mode http
    stats enable
    stats uri /stats
    stats refresh 15s
    #stats admin if LOCALHOST
